<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <link rel="stylesheet"
        href="/css/auth.css"
        th:href="@{/css/auth.css}">
  <link rel="stylesheet"
        href="/css/edit.css"
        th:href="@{/css/edit.css}">
</head>

<body>

<div class="container">
  <div class="signup-card">

    <!-- LEFT PANEL -->
    <div class="left-panel">
      <h1>Welcome!</h1>
      <p>Edit your account and continue your journey with us.</p>
    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">
      <h2>Edit Profile</h2>

      <form method="POST" th:action="@{/edit}">

        <input type="email" name="email" th:value="${user != null ? user.email : ''}" readonly>
        <input type="text" name="name" th:value="${user != null ? user.name : ''}" required>
        <input type="tel" name="phone" th:value="${user != null ? user.phone : ''}" required>

        <select name="designation" required>
          <option value="">Select Designation</option>
          <option value="Student" th:selected="${user != null and user.designation == 'Student'}"> Student </option>
          <option value="Software Engineer" th:selected="${user != null and user.designation == 'Software Engineer'}"> Software Engineer</option>
          <option value="Data Analyst" th:selected="${user != null and user.designation == 'Data Analyst'}"> Data Analyst</option>
        </select>

        <select name="gender" required>
          <option value="">Select Gender</option>
          <option value="Male" th:selected="${user != null and user.designation == 'Male'}"> Male</option>
          <option value="Female" th:selected="${user != null and user.designation == 'Female'}"> Female</option>
        </select>

        <textarea name="bio" th:text="${user != null ? user.bio : '' }"></textarea>

        <div class="form-actions">

          <button type="button" class="btn-home"
                  onclick="location.href='dashboard'">
            <span class="btn-icon">🏠</span> Home
          </button>

          <button type="submit" class="btn-update">
            <span class="btn-icon">💾</span> Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<%-->
<!--String success = (String) request.getAttribute("success");-->
<!--String error = (String) request.getAttribute("error");-->

<!--if (success != null) {-->
<!--%>-->
<!--<div style="color: green;"><%=success%></div>-->
<!--<%-->
<!--}-->
<!--if (error != null) {-->
<!--%>-->
<!--<div style="color: red;"><%=error%></div>-->
<!--<%-->
<!--}-->
<!--%>-->

</body>
</html>
