<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

    <link rel="stylesheet"
          href="/css/auth.css"
          th:href ="@{/css/auth.css}">
</head>
<body>
<script th:if="${error}">
    alert('[[${error}]]');
</script>

<script th:if="${success}">
    alert('[[${success}]]');
</script>

    <div class="container">
        <div class="signup-card">

            <!-- LEFT PANEL -->
            <div class="left-panel">
                <h1>Forgot Password?</h1>
                <p>Don’t worry. We’ll help you verify your account and reset
                    your password securely.</p>
            </div>

            <!-- RIGHT PANEL -->
            <div class="right-panel login-panel">
                <div class="login-box">

                    <h2>Verify Account</h2>
                    <p class="login-subtitle">Enter your details to continue</p>

                    <form th:action="@{/forgot-pass}" method="POST">

                        <input type="email" name="email" placeholder="Email Address"
                               required>
                        <input type="text" name="phoneLastDigits"
                               placeholder="Last 4 digits of phone number" maxlength="4"
                               required>

                        <button type="submit">Verify</button>

                        <p class="switch">
                            Remember your password? <a th:href="@{/login}">Login</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
