<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet"
          href="/css/auth.css"
          th:href = "@{/css/auth.css}">
</head>
<body>

<div>
    <script th:inline="javascript">

        let isError = [[${error}]];
        if (isError) {
            alert("Failed to create Account!");
        }
    </script>
</div>

<div class="container">
    <div class="signup-card">

        <!-- LEFT PANEL -->
        <div class="left-panel">
            <h1>Welcome!</h1>
            <p>
                Create your account and start your journey with us.
                Access exclusive features and stay connected.
            </p>
        </div>

        <!-- RIGHT PANEL -->
        <div class="right-panel">
            <h2>Create Account</h2>

            <form th:action="@{/signup}" method = "POST">
                <input type="text" placeholder="Full Name" name = "name" required>
                <input type="email" placeholder="Email Address" name = "email" required>
                <input type="password" placeholder="Password" name ="pass" required>
                <input type="tel" placeholder="Phone Number" name = "phone" required>

                <select name = "designation" required >
                    <option value="">Select Designation</option>
                    <option>Student</option>
                    <option>Software Engineer</option>
                    <option>Data Analyst</option>
                    <option>Teacher</option>
                    <option>Working Professioinal</option>
                    <option>Others</option>
                </select>

                <select name="gender"  required>
                    <option value="">Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>

                <textarea placeholder="Enter Bio" name = "bio"></textarea>

                <button type="submit">Sign Up</button>

                <p class="switch">
                    Already have an account?
                    <a th:href = "@{/login}">Login</a>
                </p>
            </form>
        </div>

    </div>
</div>

</body>
</html>
